* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('}SIMBOLO DA META.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #201b30;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Opcional: fundo semitransparente */
    border-radius: 10px; /* Opcional: bordas arredondadas */
}

.profile-image {
    width: 100%;
    max-width: 550px;
    height: auto;
    object-fit: cover;
}

.text-content h1 {
    color: #2a71d0;
    font-size: 24px;
    margin-top: 20px;
}

.text-content h2 {
    color: #2a71d0;
    font-size: 32px;
    margin: 20px 0;
}

.description {
    font-size: 25px;
    margin: 20px 0;
}

.call-to-action {
    font-size: 25px;
    color: #2a71d0;
    margin-bottom: 20px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info a {
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

/* Media queries para responsividade */
@media (max-width: 1200px) {
    .profile-image {
        width: 80%;
        max-width: 450px;
    }

    .text-content h2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .profile-image {
        width: 70%;
        max-width: 350px;
    }

    .text-content h1 {
        font-size: 22px;
    }

    .text-content h2 {
        font-size: 24px;
    }

    .description, .call-to-action {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .profile-image {
        width: 100%;
        max-width: 300px;
    }

    .text-content h1 {
        font-size: 18px;
    }

    .text-content h2 {
        font-size: 22px;
    }

    .description, .call-to-action {
        font-size: 14px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }
}
